#map{


    top:0;
    left:0;

}

.header1{
    font-family: 'Orbitron',Arial;
    text-shadow: 0px 0px 5px #ffffff;
    color: #ffffff;

}
header a,header a:hover,header a:visited{
    color:inherit;
    text-decoration: none;
}
.jumbotron {
    color: #ffffff;
    background-color: #000;
}
.xdebug-var-dump{
    position: absolute;
    z-index: 10000;
}

#scene{
    position: absolute;
    left:0;
    top:0;
    z-index: 0;
    width: 100%;
    height: 100%;
}
#interface{
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.faction{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: transform 0.5s;

    transition:transform 0.5s;
    cursor: pointer;
}
.faction:hover,.faction.selected{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);

}
.faction .faction-description{
    transition:opacity 0.5s;
    opacity: 0;
}
.faction:hover .faction-description{
    transition:opacity 0.5s;
    opacity: 1;
}
.new-game-form{
    position: absolute;
    z-index: 1;
    width: 500px;
    left:50%;
    margin-left:-250px;
    text-align: center;
    top:20%;
}
ul.faction-selection{
    position: absolute;
    list-style: inside none;
    margin: 0;
    margin-top: 50px;
    padding: 0;
}
ul.faction-selection li{
    float: left;

}
ul.faction-selection li:after{
    clear:both;
}
ul.faction-selection .faction-description{

    position: absolute;
    background: #ffffff;
    width: 250px;


}
ul.faction-selection img{
    width:250px;
    height: auto;
}